aiodns==3.2.0
aiohttp==3.9.1
aiosignal==1.3.1
alpaca-py==0.35.0
alpaca-trade-api==3.2.0
alpha-vantage==2.3.1
altair==5.5.0
annotated-types==0.7.0
appdirs==1.4.4
APScheduler==3.10.4
asgiref==3.8.1
attrs==23.2.0
backtrader==1.9.78.123
beautifulsoup4==4.12.2
bidict==0.23.1
binance==0.3
blinker==1.7.0
boto3==1.34.4
botocore==1.34.4
cachetools==5.5.0
ccxt==4.4.48
certifi==2023.11.17
cffi==1.17.1
charset-normalizer==3.3.2
click==8.1.7
contourpy==1.3.0
cryptography==44.0.0
customtkinter==5.2.2
cycler==0.12.1
darkdetect==0.8.0
dateparser==1.2.0
deprecation==2.1.0
diff-match-patch==20241021
Django==5.1.4
django-import-export==4.3.3
eventkit==1.0.3
Flask==3.0.0
Flask-SocketIO==5.4.1
Flask-SQLAlchemy==3.1.1
fonttools==4.54.0
frozendict==2.3.8
frozenlist==1.4.1
gitdb==4.0.11
GitPython==3.1.43
greenlet==3.0.2
grpcio==1.69.0
grpcio-tools==1.69.0
h11==0.14.0
html5lib==1.1
ib-insync==0.9.86
idna==3.4
itsdangerous==2.1.2
ivolatility==1.6.0
Jinja2==3.1.2
jmespath==1.0.1
joblib==1.4.2
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
kiwisolver==1.4.7
lxml==4.9.3
markdown-it-py==3.0.0
MarkupSafe==2.1.3
matplotlib==3.9.2
mdurl==0.1.2
msgpack==1.0.3
multidict==6.0.4
multitasking==0.0.11
narwhals==1.18.4
nest-asyncio==1.6.0
nodemon==0.0.16
numpy==1.26.2
packaging==24.1
pandas==2.1.3
pandas-ta==0.3.14b0
peewee==3.17.0
pillow==10.4.0
protobuf==5.29.1
psycopg2==2.9.9
psycopg2-binary==2.9.9
pyarrow==18.1.0
pycares==4.5.0
pycparser==2.22
pycryptodome==3.21.0
pydantic==2.10.4
pydantic_core==2.27.2
pydeck==0.9.1
Pygments==2.18.0
pyparsing==3.1.4
python-binance==1.0.25
python-dateutil==2.8.2
python-dotenv==1.0.1
python-engineio==4.11.1
python-socketio==5.11.4
pytz==2023.3.post1
PyYAML==6.0.1
referencing==0.35.1
regex==2024.11.6
requests==2.31.0
rich==13.9.4
rpds-py==0.22.3
s3transfer==0.9.0
setuptools==75.7.0
simple-websocket==1.1.0
six==1.16.0
smmap==5.0.1
soupsieve==2.5
SQLAlchemy==2.0.23
sqlparse==0.5.3
sseclient-py==1.8.0
streamlit==1.41.1
ta==0.11.0
ta-lib==0.6.1
tablib==3.7.0
tenacity==9.0.0
toml==0.10.2
tornado==6.4.2
typing_extensions==4.12.2
tzdata==2023.3
tzlocal==5.2
urllib3==1.26.20
webencodings==0.5.1
websocket-client==1.8.0
websockets==10.4
Werkzeug==3.0.1
wsproto==1.2.0
yarl==1.9.4
yfinance==0.2.32
